<%- include("partials/header") -%>

<div class="container">
  <h1>Compose</h1>
<form action="" method="post">
  Title:<br>
  <input type="text" class="form-control" name="item" /><br>
  Post:<br>
  <textarea class="form-control" id="floatingTextarea" name="postData" type="textarea" style="height: 100px"></textarea><br>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
</div>
<%- include("partials/footer") -%>